* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/*DEVELOPER:Michael Daniels */

html {
    background-color: transparent;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 100px auto;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

a:focus,
a:hover {
    text-decoration: none;
}

#section0 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-icons-container {
    margin-top: 70px;
    text-align: center;
}

.contact-icons {
    margin-top: 200px;
}

.contact-icons a {
    margin: 0 10px;
    color: white;
}

.name {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
}

.name h1 {
    margin: 0;
}

.sentence {
    text-align: center;
}

.sentence h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sentence2 {
    color: #8D5F87;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.button-left,
.button-right {
    width: 225px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 150%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFCFC;
    font-family: 'Outfit', sans-serif;
    font-size: 110%;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    margin-right: 50%;
    margin-top: 20%;
    transition: background 0.3s ease-in-out;
}

.button-left:hover,
.button-right:hover {
    background: linear-gradient(180deg, rgba(11, 39, 66, 0) 0%, #522f4d 100%);
    transition: background 0.3s ease-in-out;
}

.button-left:hover span,
.button-right:hover span {
    color: white;
}

/* Additional styling for dynamic text animation */
@keyframes changeText {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dynamic-text {
    animation: changeText 4s infinite;
}

/* the styles for the header */
header h2 {
    font-size: 175%;
    color: #000080;
    font-family: 'Outfit', sans-serif;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    color: #000080;
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 185%;
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
    font-weight: bold;
    color: white;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: white;
}

.title {
    position: relative;
    top: -50px;
}

h4 {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: white;
}

h5 {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    color: white;
    background-color: transparent;
}

header img {
    float: left;
    padding: 0 3.75%;
}

.bg-custom-color {
    background-color: #f5f5f5;
}

/* New navbar styles */
header {
    color: white;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: top 0.3s;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-size: 120%;
    color: #f5f5f5 !important;
    font-family: 'Orkney', sans-serif;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
}

.navbar-brand a:hover {
    color: lightgray;
}

.navbar-toggle {
    display: none;
}

.navbar-toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggler span {
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: 0.4s;
}

.navbar-collapse {
    display: flex;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar-nav a:hover {
    color: lightgray;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.projects-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-title {
    display: inline-block;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 80px;
    border-bottom: 8px solid #58466F;
    border-radius: 30px;
    transform: translateX(-50%);
}

/* Style for the project section */
#project-section .project-box {
    background: linear-gradient(109.6deg, rgb(51, 67, 88) 30%, rgb(16, 37, 60) 51.2%, rgb(78, 76, 107) 92.6%);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#project-section .project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#project-section .left-content {
    flex: 1;
    padding: 10px;
}

#project-section .right-content {
    flex: 1;
    padding: 10px;
    text-align: center;
}

#project-section .project-title {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}

#project-section .built-with {
    color: #fff;
    margin-bottom: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-section .project-built-with {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}

#project-section .project-built-with img {
    width: 100px;
    height: auto;
}

#project-section .project-image {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

#project-section .project-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 150%);
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}

#project-section .project-button:hover {
    background: linear-gradient(180deg, rgba(11, 39, 66, 0) 0%, #522f4d 100%);
    transition: background 0.3s ease-in-out;
}

#project-section .project-box:nth-child(odd) .project-content {
    flex-direction: row-reverse;
}

#project-section .project-box:nth-child(odd) .project-image {
    order: -1;
}

.about-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-title {
    display: inline-block;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 80px;
    border-bottom: 8px solid #58466F;
    border-radius: 30px;
    transform: translateX(-50%);
}

/* Style for the project section */
#about-section .about-box {
    background: linear-gradient(109.6deg, rgb(51, 67, 88) 30%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 92.6%);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#about-section .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#about-section .left-content {
    flex: 1;
    padding: 10px;
}

#about-section .right-content {
    flex: 1;
    padding: 10px;
    text-align: center;
}

#about-section .about-text {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}

#about-section .built-with {
    color: #fff;
    margin-bottom: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-section .about-built-with {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}

#about-section .about-built-with img {
    width: 100px;
    height: auto;
}

#about-section .about-image {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

#about-section .about-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 150%);
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}

#about-section .about-button:hover {
    background: linear-gradient(180deg, rgba(11, 39, 66, 0) 0%, #522f4d 100%);
    transition: background 0.3s ease-in-out;
}

#about-section .about-box:nth-child(even) .about-content {
    flex-direction: row-reverse;
}

#about-section .about-box:nth-child(even) .about-image {
    order: -1;
}

.projecttemp-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-title {
    display: inline-block;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 80px;
    border-bottom: 8px solid #58466F;
    border-radius: 30px;
    transform: translateX(-50%);
}

/* Style for the project section */
#projecttemp-section .projecttemp-box {
    background: linear-gradient(109.6deg, rgb(51, 67, 88) 30%, rgb(16, 37, 60) 51.2%, rgb(78, 76, 107) 92.6%);
    padding: 40px;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    gap: 20px;
}

#projecttemp-section .projecttemp-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#projecttemp-section .left-content {
    flex: 1;
    padding: 10px;
}

#projecttemp-section .right-content {
    flex: 1;
    padding: 10px;
    text-align: center;
}

#projecttemp-section .projecttemp-title {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
    align-items: left;
    justify-content: left;
}

#projecttemp-section .projecttemp-text {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}

#projecttemp-section .built-with {
    color: #fff;
    margin-bottom: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projecttemp-section .projecttemp-built-with {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}

#projecttemp-section .projecttemp-built-with img {
    width: 100px;
    height: auto;
}

#projecttemp-section .projecttemp-image {
    width: 50%;
    height: auto;
    border-radius: 40px;
}

#projecttemp-section .projecttemp-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 150%);
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}

#projecttemp-section .projecttemp-buttons {
    display: flex;
}

#projecttemp-section .projecttemp-button:hover {
    background: linear-gradient(180deg, rgba(11, 39, 66, 0) 0%, #522f4d 100%);
    transition: background 0.3s ease-in-out;
}

#section6 {
    padding: 50px;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section6 h4 {
    color: #fff;
    text-align: center;
}

#section6 form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    width: 60%;
    height: 100%;
}

#section6 form label,
#section6 form input {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    #section6 form label,
    #section6 form input {
        width: 90%;
    }
}

#section6 form button {
    width: 225px;
    height: 54px;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 150%);
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orkney', sans-serif;
    font-size: 110%;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}

#section6 form button:hover {
    background: linear-gradient(180deg, rgba(11, 39, 66, 0) 0%, #522f4d 100%);
    transition: background 0.3s ease-in-out;
}

.linkedin-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

.linkedin-button a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: transform 0.3s ease;
}

.linkedin-button a:hover {
    transform: scale(1.1);
}

#section3 .transparent-box {
    background: linear-gradient(109.6deg, rgb(51, 67, 88) 30%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 100%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.image-container {
    width: 60%;
    float: left;
    margin-right: 5%;
}

.left-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.text-container {
    width: 35%;
    float: left;
    padding-top: 20px;
}

.text-container p {
    font-size: 120%;
    text-align: center;
}

.text-buttons {
    text-align: center;
    margin-top: 20px;
}

h1.title {
    font-size: 150%;
    text-align: center;
    margin-top: 20px;
}

.custom-large-image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.skill-icon {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}

.skill-icon:hover {
    color: #8D5F86;
}

p {
    font-size: 120%;
    font-family: 'Outfit', sans-serif;
}

@media (max-width: 576px) {
    #demo {
        width: 90% !important;
    }
}

.skill-image {
    transition: transform 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.skill-image:hover {
    transform: scale(0.9);
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.resume-box {
    border-image-slice: 1;
    background: white !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: white !important;
    text-decoration: none;
    transition: all .4s ease;
    border-radius: 1rem;
}

.resume-box a {
    display: block;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #e6e6e6;
    margin-bottom: .5px;
    min-height: 100vh;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.section ul {
    text-align: left;
    margin-left: 40px;
}

.section li {
    margin-bottom: 10px;
}

.section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section label {
    margin-bottom: 5px;
}

.section input,
.section textarea {
    margin-bottom: 10px;
    width: 250px;
}

.section input[type="submit"] {
    width: auto;
    padding: 5px 20px;
    font-size: 16px;
}

#about-section {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

#section2 {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

#section3 {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

#section4 {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

#project-section {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

#projecttemp-section {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

#section6 {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

@media (max-width: 768px) {
    .button-left,
    .button-right {
        width: 225px;
        height: 54px;
        flex-shrink: 0;
        border-radius: 50px;
        background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 100%);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFCFC;
        font-family: 'Outfit', sans-serif;
        font-size: 110%;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        margin: 10px 0;
        transition: background 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333;
    }

    .navbar-toggler {
        display: block;
        cursor: pointer;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        transition: 0.4s;
    }

    .change .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change .line:nth-child(2) {
        opacity: 0;
    }

    .change .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

/* image size for Experience section on mobile */
@media (max-width: 767px) {
    .col-md-4 img.skill-image {
        max-width: 80%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .navbar-brand {}
}

@media (max-width: 767px) {
    .col-md-2 img.skill-image {
        max-width: 60%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .col-md-6 img.skill-image {
        max-width: 80%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .section {
        padding: 10px;
        min-height: auto;
    }
}

@media (min-width: 992px) {
    #section1 .col-md-4.order-md-1 img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

@media (min-width: 992px) {
    #section2 .col-md-4.order-md-1 img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

/* Default styles for all devices */
@media only screen and (max-width: 768px) {
    /* Mobile-specific styles */
    .name h1 {
        font-size: 1.5em;
    }

    .sentence h2 {
        font-size: 1.2em;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-left,
    .button-right {
        margin: 10px 0;
        width: 80%;
    }

    #project-section .project-box {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin: 20px auto;
    }

    #project-section .project-content {
        flex-direction: column;
        align-items: flex-start;
    }

    #project-section .left-content,
    #project-section .right-content {
        width: 100%;
    }

    #project-section .project-title,
    #project-section .built-with,
    #project-section .project-built-with,
    #project-section .project-button {
        text-align: left;
        margin: 10px 0;
    }

    .footer {
        position: static;
        margin-top: 20px;
        font-size: 0.8rem;
    }
}

/* Styles for screens between 768px and 1024px wide */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

/* Styles for screens larger than 1024px wide */
@media only screen and (min-width: 1024px) {}